<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <servlet>
    <servlet-name>loginstud</servlet-name>
    <servlet-class>loginstud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginstud</servlet-name>
    <url-pattern>/loginstud</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logintea</servlet-name>
    <servlet-class>logintea</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logintea</servlet-name>
    <url-pattern>/logintea</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>datafetcher</servlet-name>
    <servlet-class>datafetcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>datafetcher</servlet-name>
    <url-pattern>/datafetcher</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>editenabler</display-name>
    <servlet-name>editenabler</servlet-name>
    <servlet-class>editenabler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>editenabler</servlet-name>
    <url-pattern>/editenabler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>submitdetails</display-name>
    <servlet-name>submitdetails</servlet-name>
    <servlet-class>submitdetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>submitdetails</servlet-name>
    <url-pattern>/submitdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fdetailsbackend</display-name>
    <servlet-name>fdetailsbackend</servlet-name>
    <servlet-class>fdetailsbackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fdetailsbackend</servlet-name>
    <url-pattern>/fdetailsbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>savailbackend</display-name>
    <servlet-name>savailbackend</servlet-name>
    <servlet-class>savailbackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>savailbackend</servlet-name>
    <url-pattern>/savailbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>eavailbackend</display-name>
    <servlet-name>eavailbackend</servlet-name>
    <servlet-class>eavailbackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eavailbackend</servlet-name>
    <url-pattern>/eavailbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sappoinbackend</display-name>
    <servlet-name>sappoinbackend</servlet-name>
    <servlet-class>sappoinbackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sappoinbackend</servlet-name>
    <url-pattern>/sappoinbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>logoutbackend</display-name>
    <servlet-name>logoutbackend</servlet-name>
    <servlet-class>logoutbackend</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutbackend</servlet-name>
    <url-pattern>/logoutbackend</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>onclickedappointment</display-name>
    <servlet-name>onclickedappointment</servlet-name>
    <servlet-class>onclickedappointment</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>onclickedappointment</servlet-name>
    <url-pattern>/onclickedappointment</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chtp</display-name>
    <servlet-name>chtp</servlet-name>
    <servlet-class>chtp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chtp</servlet-name>
    <url-pattern>/chtp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>chsp</display-name>
    <servlet-name>chsp</servlet-name>
    <servlet-class>chsp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>chsp</servlet-name>
    <url-pattern>/chsp</url-pattern>
  </servlet-mapping>
</web-app>